<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veniam corporis exercitationem sit deserunt
        voluptatibus consequatur, ipsum eaque. Magni quo laudantium ipsam, modi impedit delectus dolores eos sed
        suscipit commodi.
        Aliquid, eum adipisci perspiciatis quis modi error natus dolores ex, sed ipsum unde sunt animi! Veniam esse, ad
        unde enim numquam, blanditiis atque vitae recusandae temporibus quod odio voluptas magnam!
        Eum architecto aliquam aliquid saepe, culpa corporis quos ut modi quis tempora fuga ullam! Sint repudiandae
        veniam tempora fugit, sit reiciendis ratione nobis aliquam quos, exercitationem sequi nihil quia sapiente.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odio culpa itaque alias, temporibus nesciunt sed
        porro ut dicta accusamus qui consequuntur expedita deserunt corporis necessitatibus voluptatum in atque ad.
        Repudiandae architecto quae adipisci sunt natus, possimus saepe suscipit non quasi veniam nemo pariatur, ea
        ducimus fuga quibusdam consectetur rem dolorum nisi. Ducimus, quo ullam voluptates quae ut laudantium qui.
        Aperiam repudiandae odit voluptatem, sit dolores necessitatibus sunt distinctio accusamus dignissimos
        doloremque, ab ut ea reiciendis repellat possimus? Odit eveniet corrupti corporis iusto nesciunt illum eos.
        Maxime voluptatibus odio atque.
        Laboriosam ex, consequuntur accusamus repudiandae repellendus dolorem velit aliquam hic pariatur ea a nihil,
        assumenda sed at doloribus sequi deserunt dolore distinctio praesentium impedit expedita molestias. Voluptatem
        voluptatibus at quam.</p>
</body>

</html>